@font-face {
  font-family: Lab Grotesque;
  src: url(../fons/LabGrotesque-Bold.woff);
}
@font-face {
  font-family: Lab Grotesque;
  src: url(../fons/LabGrotesque-Italic.woff);
}
@font-face {
  font-family: Lab Grotesque;
  src: url(../fons/LabGrotesque-Medium.woff);
}
@font-face {
  font-family: Lab Grotesque;
  src: url(../fons/LabGrotesque-Regula.woff);
}
